.container-book {
    display: flex;
    margin-bottom: 1%;
    margin-left: -1%;
}

.form-group {
    display: flex;
}

.form-group div {
    margin-right: 1%;
}

.custom-form-edition {
    width: 10vw;
}

.container-foot {
    display: flex;
    justify-content: end;
    width: 100%;
}

.container-foot button:first-child {
    margin-right: 1%;
}

.books {
    height: 50vh;
    overflow-y: scroll;
}

.container-added-books {
    display: flex;
}

.container-added-books td{
    padding: 0;
}

.order-books {
    margin-bottom: 1vh;
}